{% extends 'admin/admin.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}

    <a href="{{ path('admin.recipe.create') }}" class="btn btn-primary mb-2">Créer une recette</a>
    <table class="table">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td><a href="{{ path('admin.recipe.show', {id: recipe.id, slug: recipe.slug}) }}}">{{ recipe.title }}</a></td>
                <td width="200px">
                    <div class="d-flex gap-1">
                        <a href="{{ path('admin.recipe.edit', {id: recipe.id}) }}" class="btn btn-primary btn-sm">Editer</a>
                        <form action="{{ path('admin.recipe.delete', {id: recipe.id}) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </div>

                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
<ul>


</ul>

{% endblock %}
